<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/404.css">
  </head>

  <body>
    {{>header}}
    <h1>{{title}}</h1>
    <p>Oops! {{errorMessage}}</p>
    <img src="/img/404.jpg">
    <script src="/js/app.js"></script>
  </body>
</html>