<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/header.css">
  </head>

  <body>
    {{>header}}

    <p id="text">Let us help you deal with stubborn acne with tasty recipes!</p>

    <div class="main">
      <div class="cards">
        <div class="card">
          <h2>What is acne?</h2>
          <p>Acne is a very common skin condition that occurs when hair follicles become clogged with oil, dead skin cells, and bacteria.<br>The main causes of acne are overproduction of oil, hormonal changes, certain medications, and an imbalance of bacteria on the skin.<br>Other factors like stress, diet, and genetics can also contribute to its development.</p>
        </div>
        
        <div class="card">
          <h2>What should you be aware of?</h2>
          <p>A lot more people than you think deal with acne at least once in their life.</p>
          <p id="not-alone">You are not alone!</p>
        </div>
      </div>

      <div class="img-text-box">
      <img src="/img/acne.avif">

      <div class="text-bubbles">
        <p class="first-bubble">700 million people worldwide experience acne at some point in their lives</p>
        <p class="second-bubble">20-30% of adults still experience acne</p>
      </div>
      </div>
    </div>
  
    <script src="/js/app.js"></script>
  </body>
</html>