<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/recipes.css">
  </head>

  <body>
    {{>header}}
    <p class="recipes-text">What we eat plays a crucial role in our health, including the condition of our skin!</p>

    <div class="good-bad-facts">
      <div class="bad">
        Consuming foods high in processed sugars, unhealthy fats, and dairy triggers <strong>inflammation</strong> and increases oil production.
      </div>
      <div class="good">
        <div>
          <strong>Nutrient-dense</strong> foods help reduce inflammation, support collagen production, and improve skin texture.
        </div>
        <div>
          Staying <strong>hydrated</strong> helps maintain skin elasticity and keeps it looking fresh.
        </div>
      </div>
    </div>

    <div class="text-imgs">
      <img src="/img/food1.png">
      <p>View these recipes to achieve glowing skin!</p>
      <img src="/img/food1.png">
    </div>
    
    <div class="main">
      <div class="card">
        <div class="headline">
          <img src="/img/food2.png">
          <h2>Meals</h2>
        </div>
        <p>Fuel your body and glow from within with these tasty recipes!</p>
        <a href="/recipes/meals" id="view-link">View</a>
      </div>
      <div class="card">
        <div class="headline">
          <img src="/img/juice.png">
          <h2>Juices</h2>
        </div>
        <p>Nourish your body with these nutrient-rich juices!</p>
        <a href="/recipes/juices" id="view-link">View</a>
      </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/app.js"></script>
  </body>
</html>