<div class="header">
  <div class="logo">
    <img id="logo-img" src="/img/logo.jpg">
    <h1 id="logo-text">SkinFuel</h1>
  </div>

  <div class="nav-bar">
    <a href="/">About Us</a>
    <a href="/recipes">Recipes</a>
    <a href="/help">Help</a>
  </div>
</div>